<!DOCTYPE html>
<html ng-app="milemarker">
<head>
  <title>Milemarker</title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="ApplicationCtrl as app">

	<header>
		<nav>
			<a ui-sref="index">Dashboard</a>
			<a ui-sref="projects">Projects</a>
			<a ui-sref="users">Team</a>
			<a href="<%= logout_path %>">Logout</a>
			<small>Logged in as <%= current_user.email %></small>
		</nav>
	</header>

	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>

	<div class="container">
		<%= yield %>
	</div>

	<%= javascript_include_tag 'application' %>
</body>
</html>
