<!DOCTYPE html>
<html ng-app="milemarker">
<head>
  <title><%= CONFIG[:app_name] %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="ApplicationCtrl as app">

	<header>
		<nav>
			<a ui-sref="dashboard">Dashboard</a>
			<a ui-sref="projects">Projects</a>
			<a ui-sref="team">Team</a>
			<a href="<%= logout_path %>">Logout</a>
			<small><a ui-sref="profile">Edit Profile</a></small>
			<small>Logged in as <%= current_user.email %></small>
			<div class="ajax-loader" data-loader></div>
		</nav>
	</header>

	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>

	<div class="container" ng-hide="loading">
		<%= yield %>
	</div>

	<%= javascript_include_tag 'application' %>
</body>
</html>
