<!DOCTYPE html>
<html>
<head>
  <title>Milemarker</title>
  <%= stylesheet_link_tag    'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<nav>
			<%= link_to "Sign Up", signup_url(subdomain: false) %>
  		<%= link_to "Log In", login_path %>
  	</nav>
	</header>

	<div class="container">
	
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>

		<%= yield %>
	</div> <!-- end container -->

	<%= javascript_include_tag 'application' %>
</body>
</html>
